{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %}</title>
    <link ref="stylesheet" href="{% static "algorythm/style.css" %}">
    {% block include %}{% endblock %}
</head>
<body>
    {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}">Выйти</a>
      <a href="javascript:history.back()">Назад</a>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>