{% extends "_base.html" %}
{% load static %}

{% block title %}
Визуализация графа.
{% endblock %}

{% block include %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'algorythm/node_modules/visjs-network/dist/vis.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'algorythm/node_modules/visjs-network/dist/vis.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'algorythm/style.css' %}"/>
{% endblock %}

{% block content %}
<div id="network-popUp">
  <span id="operation">node</span> <br />
  <table style="margin: auto">
    <tr>
      <td>Надпись</td>
      <td><input id="node-label" value="new value" /></td>
    </tr>
  </table>
  <input type="button" value="Сохранить" id="saveButton" />
  <input type="button" value="Отмена" id="cancelButton" />
</div>
<br />
<div id="network">
  <div class="vis-network" tabindex="0" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;">
    <canvas width="600" style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;" height="400">
  </canvas>
  </div>
</div>

<script>
  function clearPopUp() {
    document.getElementById("saveButton").onclick = null;
    document.getElementById("cancelButton").onclick = null;
    document.getElementById("network-popUp").style.display = "none";
  }

  function cancelEdit(callback) {
    clearPopUp();
    callback(null);
  }

  function saveData(data, callback) {
    data.label = document.getElementById("node-label").value;
    clearPopUp();
    callback(data);
  }



$.ajax({
    url: '/graphs/{{ graph_id }}',
    type: 'GET',
    dataType: 'json',
    success: function(data) {
      var nodes = [];
      data.nodes.forEach(function(node) {
        nodes.push({
          id: node.id,
          label: node.name
        });
      });
      
      var nodes_vis = new vis.DataSet(nodes);
        
      var edges = [];
      Object.keys(data.edges).forEach(function(key) {
          data.edges[key].forEach(function (target) {
              edges.push({from: key, to: target});
          });
      });
      var edges_vis = new vis.DataSet(edges);
  
      var graphData_vis = {
          nodes: nodes_vis,
          edges: edges_vis
      };
  
      var container = document.getElementById('network');

      
      var locales = {
        ru: {
          edit: 'Изменить',
          del: 'Удалить выбранное',
          back: 'Назад',
          addNode: 'Добавить вершину',
          addEdge: 'Добавить ребро',
          editNode: 'Редактировать вершину',
          editEdge: 'Редактировать ребро',
          addDescription: 'Нажмите на свободное пространство, чтобы разместить новую вершину.',
          edgeDescription: 'Нажмите на вершину и проведите ребро до другой вершины, чтобы соединить их.',
          editEdgeDescription: 'Нажми на конечные точки и проведи их к другой вершине, чтобы соединить их.',
          createEdgeError: 'Невозможно связать вершины с кластером.',
          deleteClusterError: 'Кластеры не могут быть удалены.',
          editClusterError: 'Кластеры не могут быть изменены.'
        }
      };


      var options = {
        locale: 'ru',
        locales: locales,
        autoResize: true,
        configure: {
          enabled: false,
          showButton: false,
        },
        nodes: {
            borderWidth: 5,
            borderWidthSelected: 10,
            shape: "dot",
            size: 20,
            color: {
              border: "#7D47B6",
              background: "#4A1493",
              highlight: {
                border: "#A07AE9",
                background: "#7D47B6",
              },
              hover: {
                border: "#E0CA3C",
                background: "#CD9709",
              }
            },
            font: {
              strokeWidth: 20
            }
        },

        edges: {
          color: { 
            inherit: "to",
            opacity: 0.75,
          },
          dashes: true,
          arrows: "to"
        },

        interaction: {
          hover: true,
          keyboard: {
            enabled: true
          },
          multiselect: true,
          navigationButtons: true
        },
        layout: {
          randomSeed: 2,
            improvedLayout: true
          },
          physics: {
            enabled: true
          },
          manipulation: {
          enabled: true,
          initiallyActive: false,
          addNode: function (data, callback) {
             document.getElementById("operation").innerText = "Добавить вершину";
             document.getElementById("node-label").value = data.label;
             document.getElementById("saveButton").onclick = saveData.bind(
               this,
               data,
               callback
               );
               document.getElementById("cancelButton").onclick =
               clearPopUp.bind();
             document.getElementById("network-popUp").style.display = "block";
           },
           editNode: function (data, callback) {
             // filling in the popup DOM elements
             document.getElementById("operation").innerText = "Изменить вершину";
             document.getElementById("node-label").value = data.label;
             document.getElementById("saveButton").onclick = saveData.bind(
               this,
               data,
               callback
             );
             document.getElementById("cancelButton").onclick = cancelEdit.bind(
               this,
               callback
             );
             document.getElementById("network-popUp").style.display = "block";
           },
           addEdge: function (data, callback) {
            if (data.from == data.to) {
              var r = confirm("Вы действительно хотите соединить ребро само с собой?");
              if (r == true) {
                callback(data);
              }
            } else {
              callback(data);
            }
          }
        },
        groups: {}
      };
      var network = new vis.Network(container, graphData_vis);
      network.setOptions(options);
      },

      error: function(jqXHR, textStatus, errorThrown) {
          console.error('Ошибка при получении данных о графе: ' + textStatus, errorThrown);
    }



    });

// Получаем элемент меню
var networkPopUp = document.getElementById('network-popUp');

// Устанавливаем начальные координаты для перемещения меню
var offsetX;
var offsetY;

// Функция, отвечающая за перемещение меню
function dragStart(e) {
  offsetX = e.clientX - networkPopUp.getBoundingClientRect().left;
  offsetY = e.clientY - networkPopUp.getBoundingClientRect().top;
  window.addEventListener('mousemove', drag);
  window.addEventListener('mouseup', dragEnd);
}

// Функция, отслеживающая перемещение меню
function drag(e) {
  networkPopUp.style.left = e.clientX - offsetX + 'px';
  networkPopUp.style.top = e.clientY - offsetY + 'px';
}

// Функция, завершающая перемещение меню
function dragEnd() {
  window.removeEventListener('mousemove', drag);
  window.removeEventListener('mouseup', dragEnd);
}

// Отслеживаем нажатие кнопки мыши для начала перемещения меню
networkPopUp.addEventListener('mousedown', dragStart);
</script>
{% endblock %}