body {
  width: 100vw;
  height: 100vh; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}




#result-container {
  max-height: 300px;
  overflow-y: auto;
}

.component {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.component > div {
  display: table-row;
  padding: 5px 0;
}

.component > div:nth-child(odd) {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.component > div > span {
  display: table-cell;
  padding: 5px;
}


body,
select {
  font: 10pt sans;
}


#slider-container{
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#network {
  width: 90%;
  height: 60%;
  background-color: #F6F2FF;
  position: relative;
  border: 1px solid lightgray;
}

#operation {
  font-size: 28px;
}


#network-popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 299;
  width: 250px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 3px solid #5394ed;
}


#network-popUp table {
  margin: auto;
  width: 100%;
}

#network-popUp input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 5px;
  box-sizing: border-box;
}

#saveButton, #cancelButton {
  width: calc(50% - 7.5px);
  margin: 10px 3.75px;
  padding: 5px;
  box-sizing: border-box;
}

#saveButton {
  background-color: #4CAF50;
  color: white;
  border: none;
}

#cancelButton {
  background-color: #f44336;
  color: white;
  border: none;
}
